.contentex{
    grid-area: cea;
    /*background-color: chartreuse;*/
    margin-top: 20px;
}
.contentex img {
    width: 500px;
    height: 300px;
}
.it {
    color: darkblue;
}
.it img{
    height: 30px;
    width: 30px;
    border-radius: 30px;
}
.button {
    height: 30px;
    color: red;
    font-family: "MV Boli";
}