.content{
    grid-area: cea;
    background-color: chartreuse;
margin-top: 20px;
    margin-left: 10px;

}

.ite img {
    max-height : 30px;
    max-width: 30px;
    border-radius: 30px;
}
.button {
    height: 90px;
    color: red;
    font-family: "MV Boli";
}