.content{
    grid-area: cea;
    background-color: chartreuse;

}
.content img {
    width: 500px;
    height: 300px;
}
.item img {
    height: 50px;
    width: 50px;
    border-radius: 30px;
}
.button {
    height: 90px;
    color: red;
    font-family: "MV Boli";
}