.naf{
    grid-area: nea;
    background-color: coral;
    padding: 10px;
}

.item {
    color: white;
    padding-top: 20px;
    text-decoration: none;
}
.active {
    color: gold;
    text-decoration: none;
}
.friends {
    padding-top: 100px;
    font-family: Century;


}

.friends img {
    height: 30px;
    border-radius: 30px;
    padding-inline: 10px;
}